* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.homeContainer {
  /* border: 1px solid; */
  width: 90vw;
  margin: auto;
  height: 100vh;
  display: flex;
  gap: 15px;
}
.leftSide {
  flex: 2;
  /* border: 1px solid red; */
  text-align: center;
}
.rightSide {
  flex: 3;
  /* border: 1px solid blue; */
}
input {
  font-size: 16px;
  border: 2px solid;
  margin-top: 5px;
  padding: 5px;
  border-radius: 5px;
}
.postCreateForm>input{
  width: 50%;
}

.postCreateForm>button{
  font-size: 16px;
  margin-left: 10px;
  padding: 5px;
  cursor: pointer;
}
.gifImage {
  width: 150px;
  height: 120px;
  cursor: pointer;
}
.gifImgDiv {
  width: fit-content;
  margin: auto;
}
.gifImgDiv:active {
  border: 2px solid;
}
/* .gifImage:hover {
  border: 2px solid;

} */
.chooseGif {
  height: 250px;
  overflow-x: scroll;
}
.postDiv {
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px; */
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  margin-top: 15px;
  border-radius: 5px;
}
.postDiv > div {
  display: flex;
  margin-left: 5px;
  gap: 15px;
}
.deleteBtn{
  font-size: 20px;
  padding: 4px 15px;
  margin: 5px 20%;
  background-color: #ff000074;
  border: 2px solid red;
  border-radius: 5px;
  cursor: pointer;
}
